<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="success" class="success">{{ success }}</div>

<form class="login-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <fieldset>
        <div class="form-row">
            <input type="text" [(ngModel)]="model.first_name" name="first_name" placeholder="Name" />
            <span *ngIf="formErrors.first_name" class="error">{{ formErrors.first_name }}</span>
        </div>

        <div class="form-row">
            <input type="text" [(ngModel)]="model.phone" name="phone" placeholder="Mobile Number" required />
            <span *ngIf="formErrors.phone" class="error">{{ formErrors.phone }}</span>
        </div>

        <div class="form-row">
            <input type="text" [(ngModel)]="model.password" name="password" placeholder="Password" required #password />
            <span *ngIf="formErrors.password" class="error">{{ formErrors.password }}</span>
        </div>

        <div class="form-row">
            <input type="text" [(ngModel)]="confirm_password" name="confirm_password" placeholder="Re-enter Password" required #confirmPassword />
        </div>

        <span class="error" *ngIf="(password.value !== confirmPassword.value) && confirmPassword.value !== '' && password.value !== ''">Passwords are not matching.</span>

        <div class="form-row">
            <input type="checkbox" id="agree" [(ngModel)]="terms" name="terms" required>
            <label for="agree">I Agree to the <span>Terms &#38; Conditions</span></label>
        </div>

        <img *ngIf="loading" style="margin-bottom: 20px;" class="ajax-loader" src="https://cportal.cressettech.net/orient-fitting-frontend/assets/img/ajax-loader1.gif" />

        <div class="form-row">
            <button type="submit" [disabled]="!registerForm.form.valid || loading || !terms">Register</button>
        </div>
    </fieldset>
</form>
