{% extends 'base.html' %}

{% block content %}

    <div>
      <div class="row top_tiles">
         <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile-stats">
                  <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                  <div class="count">{{ users_count }}</div>
                  <h3>Users</h3>
                  <p><a href="javascript:;">More Info</a> </p>
                </div>
              </div>
         <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="tile-stats">
                  <div class="icon"><i class="fa fa-user"></i></div>
                  <div class="count">{{ guests_count }}</div>
                  <h3>Guests</h3>
                  <p><a href="javascript:;">More Info</a> </p>
                </div>
         </div>

          <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-wifi"></i></div>
                  <div class="count">{{ data_usage }}</div>
                  <h3>Data Usage</h3>
                  <p><a href="javascript:;">More Info</a> </p>
                </div>
          </div>
      </div>
    </div>

{% endblock content %}