{% extends 'base.html' %}

{% block head_css %}
    <style>
        label {
            text-align: left !important;
        }
    </style>
{% endblock head_css %}

{% block content %}

    <div>
      <div class="col-md-6 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                <h2>Allowed Social Login</h2>
                <div class="clearfix"></div>
              </div>
             <div class="x_content">
                <br>
                {% if social_login_formset|length > 0 %}
                    <form method="post" class="form-horizontal form-label-left">
                    {{ social_login_formset.management_form }}

                    {% csrf_token %}

                    {% for form in social_login_formset %}
                        {{ form.id }}
                        <div class="item form-group {% if form.is_active.errors %} bad {% endif %}">
                            <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ form.name.value|title }}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>
                                  <input name="{{ form.is_active.html_name }}" class="form-control js-switch" type="checkbox"
                                         {% if form.is_active.value != False %} checked="checked" {% endif %}
                                  />
                                </label>
                            </div>
                            <div style="margin-top: 10px;" class="alert pull-right">{{ form.is_active.errors }}</div>
                      </div>
                    {% endfor %}

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <input type="hidden" name="form" value="social-login-form" />
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>
                {% else %}
                    <p>No social provider added yet.</p>
                {% endif %}
              </div>
         </div>
      </div>


      <div class="col-md-6 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                <h2>Wifi Login Timeout</h2>
                <div class="clearfix"></div>
              </div>
             <div class="x_content">
                <br>
                <form method="post" class="form-horizontal form-label-left">
                    {% csrf_token %}

                  <div class="item form-group {% if wifi_timeout_form.login_timeout.errors %} bad {% endif %}">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Login Timeout (minutes)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                              <input name="login_timeout" class="form-control" type="text"
                                     {% if wifi_timeout_form.login_timeout.value != None %} value="{{ wifi_timeout_form.login_timeout.value }}" {% endif %}
                              />
                        </div>
                        <div style="margin-top: 10px;" class="alert">{{ wifi_timeout_form.login_timeout.errors }}</div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <input type="hidden" name="form" value="wifi-timeout-form" />
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>
              </div>
         </div>
      </div>
    </div>

{% endblock content %}