{% extends 'base.html' %}

{% block content %}

   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Vouchers</h2>

            {% if perms.VoucherCreate %}
                <a href="{% url 'captive_portal:voucher-create' %}" role="button" class="btn btn-info btn-xs pull-right">
                    Add Voucher
                </a>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table  class="table jambo_table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Package</th>
                  <th>Creation Date</th>
                  <th>Expiration Date</th>
                  <th>Data Limit</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>


              <tbody>
                {% for voucher in vouchers %}
                    <tr>
                      <td>{{ voucher.name }}</td>
                      <td>{{ voucher.code }}</td>
                      <td>{{ voucher.package }}</td>
                      <td>{{ voucher.creation_date }}</td>
                      <td>{{ voucher.expiration_date }}</td>
                      <td>{{ voucher.data_limit }}</td>
                      <td>{{ voucher.status }}</td>
                      <td>

                          {% if perms.VoucherEdit %}
                            <a href="{% url 'captive_portal:voucher-edit' voucher.id %}" title="Edit"><i class="fa fa-edit"></i> </a>
                          {% endif %}&emsp;

                          {% if perms.VoucherDelete %}
                              <a title="Delete" class="delete-voucher" ><i class="fa fa-trash"></i></a>
                              <form style="display: none;" method="post" action="{% url 'captive_portal:voucher-delete' voucher.id %}">
                                {% csrf_token %}
                              </form>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Packages</h2>

            {% if perms.PackageCreate %}
                <a href="{% url 'captive_portal:package-create' %}" role="button" class="btn btn-info btn-xs pull-right">
                    Add Package
                </a>
            {% endif %}

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table  class="table jambo_table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Data Limit</th>
                  <th>Activation Days</th>
                  <th>Expiration Days</th>
                  <th></th>
                </tr>
              </thead>


              <tbody>
                {% for package in packages %}
                    <tr>
                      <td>{{ package.name }}</td>
                      <td>{{ package.data_limit }}</td>
                      <td>{{ package.activation_days }}</td>
                      <td>{{ package.expiration_days }}</td>
                      <td>

                          {% if perms.PackageEdit %}
                            <a href="{% url 'captive_portal:package-edit' package.id %}" title="Edit"><i class="fa fa-edit"></i> </a>
                          {% endif %}&emsp;

                          {% if perms.PackageDelete %}
                              <a title="Delete" class="delete-package" ><i class="fa fa-trash"></i></a>
                              <form style="display: none;" method="post" action="{% url 'captive_portal:package-delete' package.id %}">
                                {% csrf_token %}
                              </form>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
   </div>

{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('a.delete-package, a.delete-voucher').on('click', function(){
                if (confirm('Do you really want to delete?')){
                    $(this).next().submit();
                }

            });
        });
    </script>
{% endblock extra_js %}