{% extends 'base.html' %}

{% block content %}
    <div>
      <div class="col-md-12 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                <h2>Edit Package</h2>
                <div class="clearfix"></div>
              </div>
             <div class="x_content">
                <br>
                <form method="post" class="form-horizontal form-label-left">

                  {% csrf_token %}

                  <div class="item form-group {% if form.name.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="name" value="{{ form.name.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.name.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.data_limit.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Data Limit</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="data_limit" value="{{ form.data_limit.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.data_limit.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.activation_days.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Activation Days</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="activation_days" value="{{ form.activation_days.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.activation_days.errors }}</div>
                  </div>

                 <div class="item form-group {% if form.expiration_days.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Expiration Days</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="expiration_days" value="{{ form.expiration_days.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.expiration_days.errors }}</div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>
              </div>
         </div>
      </div>

    </div>

{% endblock content %}