{% extends 'base.html' %}

{% block content %}
    <div>
      <div class="col-md-12 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                <h2>Edit Voucher</h2>
                <div class="clearfix"></div>
              </div>
             <div class="x_content">
                <br>
                <form method="post" class="form-horizontal form-label-left">

                  {% csrf_token %}

                  <div class="item form-group {% if form.name.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="name" value="{{ form.name.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.name.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.code.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Code</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="code" value="{{ form.code.value }}" type="text" class="form-control col-md-7 col-xs-12" />
                    </div>
                    <div class="alert">{{ form.code.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.package.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Package</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select name="{{ form.package.name }}" class="form-control col-md-7 col-xs-12">
                        {% for choice in form.package.field.choices %}
                            <option {% ifequal choice.0 form.package.value %} selected="selected" {% endifequal %} value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="alert">{{ form.package.errors }}</div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </div>

                </form>
              </div>
         </div>
      </div>

    </div>

{% endblock content %}