<main id="main">
    
   <p *ngIf="videos.length < 1" class="not-found">No videos found.</p>

  <section id="gallery" class="dg-container" *ngIf="videos.length > 0">
        <div class="dg-wrapper" #videoWrapper>
            <a role="button" *ngFor="let video of videos">
                <video #videoPlayer controls (click)="toggleVideoPlay(videoPlayer)">
                    <source type="{{ video.mime_type }}" src="data:{{ video.mime_type }};base64,{{ video.data }}">
                </video>
            </a>
        </div>
    
        <nav>	
            <span class="dg-prev">prev</span>
            <span class="dg-next">next</span>
        </nav>

        <div class="share-buttons" *ngIf="!uploading">
            <!-- <span>Share via: </span> -->
            <a role="button" (click)="shareOnFacebook(videoWrapper)">Share via Facebook</a>
            <!-- <a role="button" (click)="shareOnTwitter(videoWrapper)">Twitter</a> -->
            <!-- <a role="button" (click)="shareOnGoogle(videoWrapper)">Google+</a> -->
        </div>


        
        <div id="progress" *ngIf="uploading">
            <div id="progressbar">
                <div [style.width.%]="uploadProgress" ></div>
            </div>
        </div>

        <div class="success" [innerHTML]="success" *ngIf="success"></div>
        <div class="error" *ngIf="error">{{ error }}</div>


    </section>
</main>