{% extends 'base.html' %}

{% block content %}

   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Roles</h2>

            {% if perms.UserCreate %}
                <a href="{% url 'configuration:role-create' %}" role="button" class="btn btn-info btn-xs pull-right">
                    Add Role
                </a>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table  class="table jambo_table">
              <thead>
                <tr>
                  <th>Role</th>
                  <th>Permissions</th>
                  <th></th>
                </tr>
              </thead>


              <tbody>
                {% for role in roles %}
                    <tr>
                      <td>{{ role.name }}</td>
                      <td>
                          <ul>
                              {% for perm in role.permissions %}
                                <li>{{ perm }}</li>
                              {% endfor %}
                          </ul>
                      </td>
                      <td>
                          {% if perms.RoleEdit %}
                          <a href="{% url 'configuration:role-edit' role.id %}" title="Edit"><i class="fa fa-edit"></i> </a>
                          {% endif %}

                          {% if perms.RoleDelete %}
                              <a title="Delete" class="delete-role" ><i class="fa fa-trash"></i></a>
                              <form style="display: none;" method="post" action="{% url 'configuration:role-delete' role.id %}">
                                {% csrf_token %}
                              </form>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>

   </div>

{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('a.delete-role').on('click', function(){
                if (confirm('Do you really want to delete?')){
                    $(this).next().submit();
                }

            });
        });
    </script>
{% endblock extra_js %}