{% extends 'base.html' %}

{% block content %}
    <div>
      <div class="col-md-12 col-xs-12">
         <div class="x_panel">
             <div class="x_title">
                <h2>Create User</h2>
                <div class="clearfix"></div>
              </div>
             <div class="x_content">
                <br>
                <form method="post" class="form-horizontal form-label-left">

                  {% csrf_token %}

                  <div class="item form-group {% if form.first_name.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="first_name" type="text" class="form-control col-md-7 col-xs-12"
                               {% if form.first_name.value != None %} value="{{ form.first_name.value }}" {% endif %}
                        />
                    </div>
                    <div class="alert">{{ form.first_name.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.last_name.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="last_name" type="text" class="form-control col-md-7 col-xs-12"
                               {% if form.last_name.value != None %} value="{{ form.last_name.value }}" {% endif %}
                        />
                    </div>
                    <div class="alert">{{ form.last_name.errors }}</div>
                  </div>

                  <div class="item form-group {% if form.username.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Username</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="username" type="text" class="form-control col-md-7 col-xs-12"
                               {% if form.username.value != None %} value="{{ form.username.value }}" {% endif %}
                        />
                    </div>
                    <div class="alert">{{ form.username.errors }}</div>
                  </div>

                 <div class="item form-group {% if form.password.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input name="password" type="text" class="form-control col-md-7 col-xs-12"
                               {% if form.password.value != None %} value="{{ form.password.value }}" {% endif %}
                        />
                    </div>
                    <div class="alert">{{ form.password.errors }}</div>
                  </div>

                 <div class="item form-group {% if form.roles.errors %} bad {% endif %}">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select style="min-height: 150px" multiple name="{{ form.roles.name }}" class="form-control col-md-7 col-xs-12">
                        {% for choice in form.roles.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="alert">{{ form.roles.errors }}</div>
                  </div>

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">Create</button>
                    </div>
                  </div>

                </form>
              </div>
         </div>
      </div>

    </div>

{% endblock content %}