{% extends 'base.html' %}

{% block content %}

   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>User List</h2>

             {% if perms.UserCreate %}
            <a href="{% url 'configuration:user-create' %}" role="button" class="btn btn-info btn-xs pull-right">
                Add User
            </a>
            {% endif %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table  class="table jambo_table">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Roles</th>
                  <th></th>
                </tr>
              </thead>


              <tbody>
                {% for user in users %}
                    <tr>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.last_name }}</td>
                      <td>{{ user.username }}</td>
                      <td>
                          <ul>
                              {% for role in user.roles %}
                                <li>{{ role }}</li>
                              {% endfor %}
                          </ul>
                      </td>
                      <td>
                          {% if perms.UserCreate %}
                          <a href="{% url 'configuration:user-edit' user.id %}" title="Edit"><i class="fa fa-edit"></i> </a>
                          {% endif %}&emsp;

                          {% if perms.UserDelete %}
                              <a title="Delete" class="delete-user" ><i class="fa fa-trash"></i></a>
                              <form style="display: none;" method="post" action="{% url 'configuration:user-delete' user.id %}">
                                {% csrf_token %}
                              </form>
                          {% endif %}
                      </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>

   </div>

{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('a.delete-user').on('click', function(){
                if (confirm('Do you really want to delete?')){
                    $(this).next().submit();
                }

            });
        });
    </script>
{% endblock extra_js %}