<div *ngIf="error" class="error">{{ error }}</div>

<form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
    <fieldset>
      <div class="form-row">
          <input type="text" [(ngModel)]="model.phone" name="phone"  placeholder="Mobile Number" required />
          <span *ngIf="formErrors.phone" class="error">{{ formErrors.phone }}</span>
      </div>
      <div class="form-row">
          <input type="text" [(ngModel)]="model.password" name="password" placeholder="Password" required />
          <span *ngIf="formErrors.password" class="error">{{ formErrors.password }}</span>
      </div>

      <div class="form-row">
          <button type="submit" [disabled]="!loginForm.form.valid || loading" class="login">
            <span>Login</span>
          </button>
      </div>
    </fieldset>
</form>

<img *ngIf="loading" class="ajax-loader" src="https://cportal.cressettech.net/orient-fitting-frontend/assets/img/ajax-loader1.gif" />

<p>or login with social media</p>

<ul class="social-buttons">
  <li><a role="button" (click)="loginWithFacebook()">
        <span>Facebook</span>

    </a></li>
  <li class="twitter"><a role="button" (click)="loginWithTwitter()">
        <span>Twitter</span>

    </a></li>
  <li class="google-plus"><a role="button" (click)="loginWithGoogle()">
        <span>Google+</span>

    </a></li>
</ul>
