{% extends 'base.html' %}

{% block title %} Add Image {% endblock title %}

{% block content %}

    <h5>Add Image</h5>

    <br/>

    <form method="post" class="form">
        {% csrf_token %}

          <div class="form-group">
            <label for="type">Type</label>
            {{ form.type }}
            {{ form.type.errors }}
          </div>

          <div class="form-group">
            <label for="data">Data</label>
            <textarea class="form-control" name="data" id="data">{{ form.data.value}}</textarea>
              {{ form.data.errors }}
          </div>

          <div class="form-group">
            <label for="mime_type">Mime Type</label>
            {{ form.mime_type }}
            {{ form.mime_type.errors }}
          </div>


          <div class="form-group">
              <label for="display-order">Display Order</label>
              <input type="number" class="form-control" value="{{ form.display_order.value }}" name="display_order" id="display-order" />
              {{ form.display_order.errors }}
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{% endblock content %}