{% extends 'base.html' %}

{% block title %} Edit Image {% endblock title %}

{% block content %}

    <h5>Edit Image</h5>

    <br/>

    <form method="post" class="form">
        {% csrf_token %}

          <div class="form-group">
            <label for="type">Type</label>
            {{ form.type }}
            {{ form.type.errors }}
          </div>

          <div class="form-group">
            <label for="data">Data</label>
              {{ form.data }}
              {{ form.data.errors }}
          </div>

          <div class="form-group">
            <label for="mime_type">Mime Type</label>
            {{ form.mime_type }}
            {{ form.mime_type.errors }}
          </div>

          <div class="form-group">
              <label for="display-order">Display Order</label>
              {{ form.display_order }}
              {{ form.display_order.errors }}
          </div>

          <div class="form-group">
              <label for="is_deleted">is Deleted?</label>
              {{ form.is_deleted }}
              {{ form.is_deleted.errors }}
          </div>

            {{ form.id }}

          <button type="submit" class="btn btn-primary">Update</button>
        </form>

{% endblock content %}