{% extends 'base.html' %}
{% load parse_date %}

{% block title %} Image List {% endblock title %}

{% block head_css %}
    <style>
        tbody tr td{ vertical-align: middle !important; }
    </style>
{% endblock head_css %}

{% block content %}

    <h5>Image List - {{ image_type|title }}</h5>

    <br/>

    <nav class="navbar navbar-toggleable-md" style="padding-left: 0">
        <ul class="navbar-nav mr-auto" style="padding-left: 0">
            <li class="nav-item">
                <a style="padding-left: 0" class="nav-link" href="{% url 'v1:image:list' 'splash' %}">Splash Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'v1:image:list' 'logo' %}">Logos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'v1:image:list' 'scroll_category' %}">Scroll Category</a>
            </li>
        </ul>
    </nav>

    <a class="btn btn-primary btn-sm" href="{% url 'v1:image:add' %}" style="float: right;" >Add Image</a>

    <br/>

    {% if images %}

        <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Type</th>
                <th>Mime Type</th>
                <th>Display Order</th>
                <th>Created at</th>
                <th></th>
                <th></th>
                <th style="width: 160px;"></th>
            </tr>
        </thead>

        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.type|title }}</td>
                    <td>{{ image.mime_type }}</td>
                    <td>{{ image.display_order }}</td>
                    <td>{{ image.created_at|parse_date|date }}</td>
                    <td>{{ image.is_deleted|yesno:'Deleted,' }}</td>
                    <td>
                        <img width="200px" src="data:{{ image.mime_type }};base64,{{ image.data }}" />
                    </td>
                    <td>
                        {% if not image.is_deleted %}
                            <form style="width: 80px; float: left;" method="post" action="{% url 'v1:image:delete' image.id %}">
                            {% csrf_token %}
                            <button class="btn btn-link btn-primary btn-sm" onclick="return confirm('Are you sure you want to delete this item?');" type="submit">Delete</button>
                        </form>
                        {% endif %}

                        <a href="{% url 'v1:image:edit' image.id %}" style="float: left;" class="btn btn-default btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h6>No {{ image_type }} image found</h6>
    {% endif %}

{% endblock content %}