{% if messages %}
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

{% endif %}