{% load static %}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'dashboard:home' %}" class="site_title">
                  <i class="fa fa-paw"></i> <span>Analytics Portal</span>
              </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <img src="{% static 'img/img.jpg' %}" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome, <strong>{{ request.user.username }}</strong></span>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <ul class="nav side-menu">

              {% if perms.dashboard %}
                  <li>
                      <a href="{% url 'dashboard:home' %}">
                          <i class="fa fa-bar-chart"></i> Dashboard
                      </a>
                  </li>
              {% endif %}

              {% if perms.VoucherList or perms.Settings or perms.CaptivePortalOverview %}
                <li>
                  <a>
                      <i class="fa fa-wrench"></i>
                      Captive Portal <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                      {% if perms.CaptivePortalOverview %}
                        <li><a href="{% url 'captive_portal:overview' %}">Overview</a></li>
                      {% endif %}

                      {% if perms.Settings %}
                        <li><a href="{% url 'captive_portal:settings' %}">Settings</a></li>
                      {% endif %}

                      {% if perms.VoucherList %}
                        <li><a href="{% url 'captive_portal:voucher-list' %}">Voucher Management</a></li>
                      {% endif %}
                  </ul>
              </li>
              {% endif %}

              <li>
                  <a>
                      <i class="fa fa-signal"></i>
                      Clients Live Traffic <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                      <li><a href="{% url 'clients_live_traffic:wifi_clients_data' %}">WIFI Clients Data</a></li>
                      <li><a href="#">Kontakt Data</a></li>
                  </ul>
              </li>

              <li>
                  <a><i class="fa fa-desktop"></i> Content Delivery Portal </a>
              </li>

              <li>
                  <a>
                      <i class="fa fa-line-chart"></i>
                      Retail Reports <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                      <li><a href="#">Traffic Reports (Zone)</a></li>
                      <li><a href="#">Traffic Reports (Place)</a></li>
                      <li><a href="#">Traffic Reports (Criteria Base)</a></li>
                      <li><a href="#">User Reports</a></li>
                      <li><a href="#">Device Reports</a></li>
                  </ul>
              </li>

              {% if perms.RoleList or perms.UserList %}
                <li>
                  <a>
                      <i class="fa fa-gears"></i>
                      Configuration <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu">
                      {% if perms.RoleList %}
                        <li><a href="{% url 'configuration:role-list' %}">Roles</a></li>
                      {% endif %}

                      {% if perms.UserList %}
                      <li><a href="{% url 'configuration:user-list' %}">Users</a></li>
                      {% endif %}

                  </ul>
              </li>
              {% endif %}

            </ul>
          </div>
        </div>

    </div>
</div>
