{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                  <div class="x_title">
                    <h2>Dashboard</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                      <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px;">
                        <div class="x_panel fixed_height_320">
                          <div class="x_title">
                            <h5>Device Types</h5>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                                <div id="device-list" style="height:260px;"></div>
                                <input type="hidden" value="{{ device_list }}" />
                          </div>
                    </div>
                  </div>

                      <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px;">
                        <div class="x_panel fixed_height_320">
                          <div class="x_title">
                            <h5>Device Models</h5>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                              <div id="models-list" style="height:260px;"></div>
                              <input type="hidden" value="{{ device_models }}" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px;">
                        <div class="x_panel fixed_height_320">
                          <div class="x_title">
                            <h5>Operating Systems</h5>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                              <div id="os-list" style="height:260px;"></div>
                              <input type="hidden" value="{{ os_list }}" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 20px;">
                    <div class="x_panel fixed_height_320">
                      <div class="x_title">
                        <h5>Browsers</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                          <div id="browser-list" style="height:260px;"></div>
                          <input type="hidden" value="{{ browser_list }}" />
                      </div>
                    </div>
                  </div>
                  </div>
               </div>
            </div>
    </div>

{% endblock content %}


{% block extra_js %}

    {{ super }}

    <script src="{% static 'vendors/echarts/dist/echarts.min.js' %}"></script>
    <script type="text/javascript">
        var deviceDiv = $('#device-list');
        var modelsDiv = $('#models-list');
        var osDiv = $('#os-list');
        var browsersDiv = $('#browser-list');

        var deviceChart = echarts.init(deviceDiv[0]);
        deviceList = JSON.parse(deviceDiv.next().val());

        var modelsChart = echarts.init(modelsDiv[0]);
        modelList = JSON.parse(modelsDiv.next().val());

        var osChart = echarts.init(osDiv[0]);
        osList = JSON.parse(osDiv.next().val());

        var browsersChart = echarts.init(browsersDiv[0]);
        browserList = JSON.parse(browsersDiv.next().val());

        // specify chart configuration item and data
        var option = {
            title: {
                text: ''
            },
             tooltip : {
                show: true,
                formatter: "{b} : {d}% ({c} session))",
                textStyle: {fontSize: 8}
            },
            series: [{
                type: 'pie',
                data: []
            }]
        };

        option.series[0].data = deviceList;
        deviceChart.setOption(option);

        option.series[0].data = modelList;
        modelsChart.setOption(option);

        option.series[0].data = osList;
        osChart.setOption(option);

        option.series[0].data = browserList;
        browsersChart.setOption(option);
    </script>

{% endblock extra_js %}