<main id="main">
    <div class="main-img">
        <div class="image-holder">
        <img src="https://cportal.cressettech.net/orient-fitting-frontend/assets/img/img1.png" alt="Winter Collection"></div>
    </div>
</main>

<footer id="footer">
    <div class="btn-holder">
        <a role="button" routerLink="/login" class="btn-default">Login</a>
        <a role="button" routerLink="/register" class="btn-default add">Register</a>
    </div>
</footer>
