{% extends 'user/base.html' %}

{% block content %}

<section class="login_content">
    <form method="post">

        {% csrf_token %}

      <h4>Analytics Portal Login</h4>
        <br/>

       {% if form.non_field_errors %}
           <div class="alert alert-danger">
               {{ form.non_field_errors }}
           </div>
       {% endif %}

        <br/>

      <div>
        <input type="text" name="username" class="form-control" placeholder="Username" required />
          <div class="alert">{{ form.username.errors }}</div>
      </div>

      <div>
        <input type="password" name="password"  class="form-control" placeholder="Password" required />
          <div class="alert">{{ form.password.errors }}</div>
      </div>
      <div>
        <button type="submit" class="btn btn-success" >Log in</button>
      </div>

       <hr/>

       <div>
        <a style="margin-right: auto; float: none;" class="reset_pass" href="#">Lost your password?</a>
      </div>

    </form>
  </section>

{% endblock content %}