{% extends 'base.html' %}

{% block title %} Admin Login {% endblock title %}

{% block content %}

    <h5>Admin Login</h5>

    <br/>

    <form method="post" class="form col-md-6">
        {% csrf_token %}

          <div class="form-group">
            <label for="username">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            {{ form.password }}
            {{ form.password.errors }}
          </div>

          <button type="submit" class="btn btn-primary">Login</button>

        </form>

{% endblock content %}