{% extends 'base.html' %}
{% load parse_date %}

{% block title %} User List {% endblock title %}

{% block head_css %}
    <style>
        td{
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
    </style>
{% endblock head_css %}

{% block content %}

    <h5>User List</h5>

    <br/>

    {% if users %}

        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email/Phone</th>
                    <th>User Type</th>
                    <th>Last Login</th>
                    <th>Date Joined</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            {{ user.social_profile.email }}
                            {{ user.phone }}
                        </td>
                        <td>{{ user.social_profile|yesno:"Social, Custom" }}</td>
                        <td>{{ user.last_login|parse_date }}</td>
                        <td>{{ user.date_joined|parse_date|date }}</td>
                        <td style="width: 150px">
                            {% if user.sessions %}
                                <a href="{% url 'v1:user:video-list' user.id %}">Videos</a>
                            {% else %}
                                No video
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if show_next_page or show_prev_page %}
            <nav aria-label="...">
          <ul class="pagination pagination-sm">

            <li class="page-item {% if not show_prev_page %} disabled {% endif %}">
              <a class="page-link" href="{% url 'v1:user:list' %}?page={{prev_page}}">Previous</a>
            </li>

              <li class="page-item {% if not show_next_page %} disabled {% endif %}">
              <a class="page-link" href="{% url 'v1:user:list' %}?page={{next_page}}">Next</a>
            </li>

          </ul>
    </nav>
        {% endif %}

    {% else %}
        <h6>No user registered yet</h6>
    {% endif %}

    <br/><br/>

{% endblock content %}