{% extends 'base.html' %}

{% block title %} User Video List {% endblock title %}

{% block head_css %}
    <style>
        tbody tr td{ vertical-align: middle !important; }
    </style>
{% endblock head_css %}

{% block content %}

    <h5>User Video List</h5>

    <br/>

    {% if videos %}
        <table class="table table-sm">
        <thead>
            <tr>
                <th>Mime Type</th>
                <th>Is Deleted</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for video in videos %}
                <tr>
                    <td>{{ video.mime_type }}</td>
                    <td>{{ video.is_deleted|yesno:"Yes,No" }}</td>
                    <td>
                        <video controls style="width: 300px;">
                            <source type="{{ video.mime_type }}" src="data:{{ video.mime_type }};base64,{{ video.data }}" >
                        </video>
                    </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h6>No video found for this user</h6>
    {% endif %}

{% endblock content %}