<div id="wrapper" class="inner" >

  <header id="header">
      <div class="logo">
          <a routerLink="/">
            <h2>Captive Portal</h2>
          </a>
      </div>
      
  </header>

  <router-outlet></router-outlet>

</div>
