<div *ngIf="!success">
    <div *ngIf="error" class="error">{{ error }}</div>
    
    <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
        <fieldset>
          <div class="form-row">
              <input type="text" [(ngModel)]="model.username" name="username"  placeholder="Username" required />
              <span *ngIf="formErrors.username" class="error">{{ formErrors.username }}</span>  
          </div>
          <div class="form-row">
              <input type="text" [(ngModel)]="model.password" name="password" placeholder="Password" required />
              <span *ngIf="formErrors.password" class="error">{{ formErrors.password }}</span>  
          </div>
    
          <div class="form-row">
              <button type="submit" [disabled]="!loginForm.form.valid || loading" class="login">
                <span>Login</span>
              </button>
          </div>
        </fieldset>
    </form>
    
    <img *ngIf="loading" class="ajax-loader" src="https://cportal.cressettech.net/captive-portal-frontend/assets/img/ajax-loader.gif" />
    
    <div *ngIf="allowedSocialLogins.length > 0">
        <p>or login with social media</p>
    
        <ul class="social-buttons">
            <div *ngFor="let elem of allowedSocialLogins">
                <li *ngIf="elem.is_active" class="{{ elem.name }}">
                    <a role="button" (click)="socialLogin(elem.name)">
                        <span>{{ elem.name }}</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>

    
</div>


<p *ngIf="success">Connected Successfully. Thanks</p>