<div id="wrapper" class="inner" [ngStyle]="{ 'background-image': showBackgroundImage ? 'url(https://cportal.cressettech.net/orient-fitting-frontend/assets/img/bg-body.jpg)' : '' }">

  <header id="header">
      <div class="logo">
          <a routerLink="/">
            <img src="https://cportal.cressettech.net/orient-fitting-frontend/assets/img/logo.png" alt="Orient">
          </a>
      </div>

  </header>

  <router-outlet></router-outlet>

  <a role="button" *ngIf="this.authService.isAuthenticated()" (click)="logout()" class="btn-logout" >Logout</a>
</div>
