/*
Theme Name: Base
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/
.widget {margin-bottom: 14px; overflow: hidden;}
.widget ul{padding-left:2em;}
.widget select{min-width: 150px;}
.comment-form textarea,
.comment-form input[type="text"],
.search-form input[type="search"]{
    margin:0 4px 0 0;
    width:300px;
}
.post-password-form label{vertical-align: top;}
.post-password-form input[type="password"],
.search-form input[type="search"]{width:150px;}
.commentlist{margin:0 0 14px;}
.commentlist .edit-link{margin:0;}
.commentlist-item .commentlist-item {padding:0 0 0 3em;}
@media only screen and (max-width: 767px){.commentlist-item .commentlist-item {padding: 0;}}
.comment,
.commentlist-holder{overflow:hidden;}
.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item{padding-top:14px;}
.commentlist .avatar-holder{
    float:left;
    margin:0 14px 4px 0;
}
.comment-form label{
    display:block;
    padding-bottom:4px;
}
.comment-form textarea{
    padding:3px 4px;
    overflow:auto;
    margin:0;
    height:120px;
    min-height:120px;
}
.widget_calendar #next{text-align: right;}
.gallery-item dt{
    float:none;
    padding:0;
}
.navigation{
    overflow:hidden;
    margin:0 0 14px;
}
.navigation .next{
    float:left;
}
.navigation .prev{
    float:right;
}
.wp-caption{
    max-width: 98%;
    clear:both;
    border:1px solid #ccc;
    padding:5px;
}
.wp-caption img{vertical-align:top;}
.wp-caption p{margin:10px 0 0;}
div.aligncenter {margin: 0 auto 14px;}
img.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignleft {
    float: left;
    margin: 0 14px 4px 0;
}
.alignright {
    float: right;
    margin: 0 0 4px 14px;
}

#wrapper{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0;
}
#header{
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.8);
  text-align: center;
  padding: 10px;
  box-shadow: 0 1px 2px #000;
  z-index: 9;
}
.logo{
  overflow: hidden;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}
.logo img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#main{
  overflow: hidden;
  position: relative;
}
#wrapper.inner #main{display: none;}
.main-img{
  overflow: hidden;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  height: 80vh;
  text-align: center;
}
.main-img .image-holder{
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.main-img .image-holder img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
#footer{
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.btn-holder{
  overflow: hidden;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn-holder .btn-default{
  margin: 0;
  width: 49.8%;
  text-transform: uppercase;
  background: rgba(255,255,255,0.8);
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 12px 15px 30px;
  font-weight: 600;
  position: relative;
}
.btn-holder .btn-default{
  background: #ccc;
  border: solid #000;
  border-width: 0 1px 1px 0;
  width: 50%;
}
.btn-holder .btn-default.add{
  border-width: 0 0 1px 1px;
}
.btn-holder .btn-default.active,
.btn-holder .btn-default.active{
  background: #fff;
  border-width: 0;
}
.btn-holder .btn-default:before{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 -48px;
  z-index: 1;
  background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/ico-key.png") no-repeat;
  width: 29px;
  height: 14px;
  content: '';
}
.btn-holder .btn-default.add:before{
  background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/ico-register.png") no-repeat;
  margin: 0 0 0 -56px;
  width: 25px;
  height: 16px;
}
#footer{
  min-height: 89.3vh;
  background: #fff;
  position: static;
}
.login-form{
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
.login-form .form-row{
  overflow: hidden;
  padding: 0;
  margin: 0 0 20px;
}
.login-form .form-row label,
.login-form .form-row input[type="checkbox"]{
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: auto;
}
.login-form .form-row label span{
  text-transform: uppercase;
  color: #000;
  text-decoration: underline;
}
.login-form .form-row button,
.login-form .form-row input{
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  display: block;
  margin: 0;
  padding: 4px 12px;
  background: #fff;
  color: #000;
  border: 1px solid #acacac;
  font-size: 15px;
  line-height: 36px;
  border-radius: 3px;
}
.login-form .form-row button[type="submit"]{
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  border: none;
  font-weight: 600;
  padding: 4px 30px 4px 12px;
  position: relative;
}
.login-form .form-row button[type="submit"]:before{
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  margin: 4px -60px 0 0;
  z-index: 9;
  background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/arrow-btn.png") no-repeat;
  width: 24px;
  height: 24px;
}
.form-holder{
  overflow: hidden;
  padding: 20px 0 0;
  margin: 0;
  position: relative;
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #9e9e9e;
}
.social-buttons{
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-buttons li{
  display: block;
  margin: 0 0 20px;
}
.social-buttons li.twitter a{background: #76a9ea;}
.social-buttons li.twitter a:before{background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/ico-twitter.png") no-repeat;}
.social-buttons li.google a{background: #f34a38;}
.social-buttons li.google a:before{background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/ico-google.png") no-repeat;}
.social-buttons li a{
  display: block;
  background: #475993;
  padding: 15px 15px 15px 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
}
.social-buttons li a:before{
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 99;
  background: url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/ico-fb.png") no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 0 0 -60px;
}

/*Slider Page*/

.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
}
.dg-wrapper{
	width: 220px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 220px;
	height: 300px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	 /* background: transparent url("https://cportal.cressettech.net/captive-portal-frontend/assets/img/browser.png") no-repeat top left; */
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
  width: 100%;
  height: auto;
  margin: 0;
	padding: 20px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
.dg-container nav span{
	text-indent: -9000px;
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}

.ajax-loader{
    width: 20px;
    margin: 0 auto;
    vertical-align: middle;
}
