.tile-stats .count{
    font-size: 20px !important;
}

.tile-stats h3{
    font-size: 16px !important;
}

.tile-stats .fa:before{
    font-size: 40px !important;
}

.item.bad .alert{
    max-width: 350px !important;
}

.wifi-clients-data {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.wifi-clients-data iframe {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
}

.login .alert{
    margin-bottom: 0px;
    padding: 5px;
}

.profile_info{
    padding: 25px 0px 10px !important;
}

.x_panel{
    border: 0px !important;
}