<div class="row">
    <!-- Visitor Chart Start-->
    <div class="col-md-6 col-xl-4">
        <app-card [blockClass]="'card-body-big card-visitor-block'">
            <div class="row">
                <div class="col-sm-8  card-visitor-button">
                    <button class="btn btn-primary btn-icon"><i class="icofont icofont-user-alt-3"></i></button>
                    <div class="card-contain">
                        <h6>2,534</h6>
                        <p class="text-muted f-18 m-0">Visitors</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs-down text-center">
                    <span class="visitor-chart"></span>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-md-6 col-xl-4">
        <app-card [blockClass]="'card-body-big card-visitor-block'">
            <div class="row">
                <div class="col-sm-8 card-visitor-button">
                    <button class="btn btn-warning btn-icon"><i class="icofont icofont-shopping-cart"></i></button>
                    <div class="card-contain">
                        <h6>5,782</h6>
                        <p class="text-muted f-18 m-0">Total Sale</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs-down text-center">
                    <span class="sale-chart"></span>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-md-12 col-xl-4">
        <app-card [blockClass]="'card-body-big card-visitor-block'">
            <div class="row">
                <div class="col-sm-8 card-visitor-button">
                    <button class="btn btn-success btn-icon"><i class="icofont icofont-shopping-cart"></i></button>
                    <div class="card-contain">
                        <h6>2,534</h6>
                        <p class="text-muted f-18 m-0">Revenue</p>
                    </div>
                </div>
                <div class="col-sm-4 hidden-xs-down text-center">
                    <span class="resource-barchart"></span>
                </div>
            </div>
        </app-card>
    </div>
    <!-- Visitor Chart End-->

    <!-- facebook Start -->
    <div class="col-md-12 col-xl-8">
        <div class="card">
            <div class="card-body">
                <h5>Combo Chart</h5>
            </div>
            <div class="card-body">
                <google-chart [data]="comboChartData"></google-chart>
            </div>
        </div>
    </div>

    <!-- Total Sale Start -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h5>Total Sales</h5>
            </div>
            <div class="card-body">
                <div class="col-sm-10 offset-sm-1">
                    <chart [type]="type3" [data]="data3" [options]="options3"></chart>
                </div>
            </div>
        </div>
    </div>
    <!-- Total Sale Start -->
</div>