<footer id="footer">
    <div class="btn-holder">
        <a role="button" routerLink="/login" class="btn-default" [class.active]="authType==='login'">Login</a>
        <a role="button" routerLink="/register" class="btn-default add" [class.active]="authType==='register'">Register</a>
    </div>  

    <div class="form-holder">
        <div *ngIf="authType==='login'">
            <login-form></login-form>
        </div>

        <div *ngIf="authType==='register'">
            <register-form></register-form>
        </div>
    </div>

</footer>