body{
    font-family: serif !important;
}
.table thead th{ font-size: 20px; }

button{ cursor: pointer; }

button:hover{ text-decoration: none !important; }

a{ cursor: pointer; }

ul.errorlist{ color: red; }