{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 wifi-clients-data">
          <iframe src="{{ wifi_clients_data_url }}" id="iframe" frameborder="0" scrolling="auto" ></iframe>
      </div>
    </div>

{% endblock content %}

