<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Orient Fitting Mirror - {% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sticky_footer_navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    {% block head_css %}
    {% endblock head_css %}

</head>
<body>


    {% include 'header.html' %}

    <br/>

    <div class="container" style="padding-top: 100px;">
        {% include 'messages.html' %}

        {% block content %}

        {% endblock content %}
    </div>

    <br/><br/><br/>

    {% include 'footer.html' %}


    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>


    {% block body_js %}
    {% endblock body_js %}

</body>
</html>