<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{% url 'v1:user:list' %}">Orient Fitting Mirror</a>


  {% if request.session.user %}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'v1:user:list' %}">Users</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'v1:image:list' 'splash' %}">Images</a>
          </li>
        </ul>
      </div>
  {% endif %}

  <div style="width: 300px; margin-right: 80px;">
    {% if request.session.user %}
      <strong style="color: #fff; float: left; margin-right: 20px;">{{ request.session.user.username }}</strong>
      <a href="{% url 'v1:user:admin-logout' %}">Logout</a>
    {% endif %}
  </p>

</nav>